input {
  file {
    path => "/oracle_audit.log"
    start_position => "beginning"
	type => syslog
  }
}

filter {
  if [type] == "syslog" {
    grok {
     
	  match => { "message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME} %{DATA:pidname}\[(%{POSINT:pid}\]): %{DATA:lengthname}: %{QUOTEDSTRING:lengthname} %{DATA:actionname}:\[(%{POSINT:actionid}\]) %{DATA:action} DATABASE USER:\[(%{POSINT:databaseuser}\]) %{QUOTEDSTRING:databaseuser} PRIVILEGE :\[(%{POSINT:privilege}\]) %{QUOTEDSTRING:privilege} CLIENT USER:\[%{DATA:clientuser}\] %{QUOTEDSTRING:clientuser} CLIENT TERMINAL:\[%{DATA:clienterminal}\] %{QUOTEDSTRING:clienterminal} STATUS:\[%{DATA:status}\] %{QUOTEDSTRING:status} DBID:\[%{DATA:dbid}\] %{QUOTEDSTRING:dbid} SESSIONID:\[%{DATA:sessionid}\] %{QUOTEDSTRING:sessionid} USERHOST:\[%{DATA:userhost}\] %{QUOTEDSTRING:userhost} CLIENT ADDRESS:\[%{DATA:clientaddress}\] %{QUOTEDSTRING:clientaddress} ACTION NUMBER:\[%{DATA:actionumber}\] %{QUOTEDSTRING:actionumber}" }
      match => { "message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME} %{DATA:pidname}\[(%{POSINT:pid}\]): LENGTH: %{QUOTEDSTRING:length} SESSIONID:\[(%{DATA:sessionid}\]) %{QUOTEDSTRING:session} ENTRYID:\[(%{DATA:entryid}\]) %{QUOTEDSTRING:entryidname} STATEMENT:\[(%{DATA:statementid}\]) %{QUOTEDSTRING:statement} USERID:\[(%{DATA:userid}\]) %{QUOTEDSTRING:user} USERHOST:\[(%{DATA:userhostid}\]) %{QUOTEDSTRING:userhost} TERMINAL:\[(%{DATA:terminalid}\]) %{QUOTEDSTRING:terminal} ACTION:\[(%{DATA:actionid}\]) %{QUOTEDSTRING:action} RETURNCODE:\[(%{DATA:returncodeid}\]) %{QUOTEDSTRING:returncode} COMMENT\$TEXT:\[(%{DATA:commentid}\]) %{QUOTEDSTRING:comment} OS\$USERID:\[(%{DATA:osuserid}\]) %{QUOTEDSTRING:osuser} DBID:\[(%{DATA:dbid}\]) %{QUOTEDSTRING:db} PRIV\$USED:\[(%{DATA:privusedid}\]) %{QUOTEDSTRING:priveused} CURRENT_USER:\[(%{DATA:currentuserid}\]) %{QUOTEDSTRING:currentuser}" }
	  match => { "message" => "%{SYSLOGTIMESTAMP:timestamp} %{HOSTNAME} %{DATA:pidname}\[(%{POSINT:pid}\]): LENGTH: %{QUOTEDSTRING:length} SESSIONID:\[(%{DATA:sessionid}\]) %{QUOTEDSTRING:session} ENTRYID:\[(%{DATA:entryid}\]) %{QUOTEDSTRING:entryidname} STATEMENT:\[(%{DATA:statementid}\]) %{QUOTEDSTRING:statement} USERID:\[(%{DATA:userid}\]) %{QUOTEDSTRING:user} USERHOST:\[(%{DATA:userhostid}\]) %{QUOTEDSTRING:userhost} TERMINAL:\[(%{DATA:terminalid}\]) %{QUOTEDSTRING:terminal} ACTION:\[(%{DATA:actionid}\]) %{QUOTEDSTRING:action} RETURNCODE:\[(%{DATA:returncodeid}\]) %{QUOTEDSTRING:returncode} OBJ\$CREATOR:\[(%{DATA:objcreatorid}\]) %{QUOTEDSTRING:objcreatorid} OBJ\$NAME:\[(%{DATA:objnameid}\]) %{QUOTEDSTRING:objname} OS\$USERID:\[(%{DATA:osuserid}\]) %{QUOTEDSTRING:osuser} DBID:\[(%{DATA:dbid}\]) %{QUOTEDSTRING:dbidname} CURRENT_USER:\[(%{DATA:currentuserid}\]) %{QUOTEDSTRING:currentuser}" }
    }
    date {
      match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
    }
  }
}

output {
  elasticsearch {
    hosts => ["localhost:9200"]
  }
  stdout { codec => rubydebug }
}